@use "./vars";
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #fff;
}


img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    max-height: 100%;
}


button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.wrapper {
    margin: 0 auto;
    padding-left: calc(50% - $widhtSitu / 2);
    padding-right: calc(50% - $widhtSitu / 2);
}
    @media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
    padding: 0 16px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .wrapper {
    padding: 0 16px;
    }
}