@media (min-width: 320px) and (max-width: 767px) {
    .feature {
        background-color: rgba(34, 34, 36, 1);
        padding: 3rem 0 5rem 0;
        
    }

    .container__feature {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .feature__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        text-align: center;
    }

    .feature__pik {
        width: 45px;
        height: auto;
    }

    .feature__title {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.2;
        color: rgba(251, 251, 251, 1);
        margin: 0;
    }

    .feature__subtitle {
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 1.4;
        color: rgba(251, 251, 251, 1);
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .feature {
        background-color: #222224;
        padding: 3rem 0 4rem 0;
        
    }

    .container__feature {
        display: flex;
        flex-direction: column;
        gap: 48px;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .feature__item {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .feature__pik {
        width: 47px;
        margin-bottom: 28px;
    }

    .feature__title {
        font-size: 1.2475rem;
        line-height: 1.2;
        font-weight: 400;
        color: rgba(251, 251, 251, 1);
        margin-bottom: 16px;
    }

    .feature__subtitle {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.2;
        text-align: center;
        color: rgba(251, 251, 251, 1);
    }
}

@media (min-width: 1025px) {
    .feature {
        background-color: #222224;
        padding: 6.5rem 0 6.5rem 0;
        
    }

    .container__feature {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .feature__item {
        flex-basis: 28%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .feature__pik {
        width: 47px;
        margin-bottom: 28px;
    }

    .feature__title {
        font-weight: 400;
        line-height: 1.2;
        font-size: 1.2475rem;
        color: rgba(251, 251, 251, 1);
        margin-bottom: 16px;
    }

    .feature__subtitle {
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
        font-size: 0.8692rem;
        color: rgba(251, 251, 251, 1);
    }
}
