@media (min-width: 320px) and (max-width: 767px) {
.subscribe {
    max-width: 100%;
    height: auto;
    padding: 4rem 0 6.8125rem;
    background-image: url(../images/photo\ subscribe.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.container__subscribe {
    display: flex;
    flex-direction: column;
    gap: 59px;
}
.subscribe__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.subscribe__photo {
    max-width: 91px;
}
.subscribe__text {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1;
    text-align: center;
    color: rgba(34, 34, 36, 1);

}
.subscribe__title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    color: rgba(34, 34, 36, 1);
    margin-bottom: 22px;
}
.subscribe__title-big {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}
.subscribe__submit {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe__form {
}
.subscribe__input {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2;
    vertical-align: middle;
    padding: 6px 21px 5px;
    background-color: rgba(225, 225, 225, 1);
    color: rgba(34, 34, 36, 1);
    border: none;
}
.subscribe__button {
}
}